/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none !important;
}

body {
    font-family: miui, system-ui, -apple-system, BlinkMacSystemFont, \.SFNSText-Regular, Helvetica, Arial, sans-serif, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden !important;
}

:root {
    --primary: oklch(62.7% 0.194 149.214);
    --secondary: #212121;
}



/* Example button style */
.btn {
    padding: 10px 16px;
}

.primary-btn {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: #ffffff;
    border-radius: 5px;
    box-shadow: unset;
    transition: 0.2s;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 15px;
    display: inline-block;
}

.primary-btn:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.secondary-btn {
    color: var(--secondary);
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: unset;
    transition: 0.2s;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    padding: 12px 15px;
    display: inline-block;
}

.secondary-btn:hover {
    background-color: #f2f2f2;
}

.form-control {
    font-size: 15px;
    padding: 10px;
    box-shadow: none !important;
    outline: none !important;
}

.form-control::placeholder {
    color: #c8c8c8;
}

/* ========================= Header ============================== */
.header-top {
    background: #006e29;
    color: #fff;
    font-size: 14px;
    padding: 5px 0px;
}


.header_section {
    border-top-color: var(--primary);
    border-bottom-color: var(--primary);
    background-color: var(--primary);
}

.header_section .navbar-nav .nav-item a {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: auto;
    height: .44rem !important;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    border-radius: .22rem;
    max-width: 100%;
    padding: 20px 12px;
    z-index: 2;
}


.header_section .navbar-nav .nav-item a:hover:after {
    opacity: 1;
    transform: scale(1);
}

.navbar-brand img {
    max-width: 200px;
    max-height: 60px;
}

.header_section .navbar-nav .nav-item a:after {
    transition: .1s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: "";
    background-color: #f2f2f2;
    border-radius: .22rem;
    opacity: 0;
    transform: scale(0);
    border-radius: 50px;
    max-width: 100%;
    padding: 18px 12px;
    background-color: #098638;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.slider_sec .small-arrow {
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 1;
    margin: 0px 10px;
}


.slider_sec .small-arrow i {
    color: var(--primary);
    font-size: 12px;
}

.slider_sec .small-arrow:hover {
    background-color: #f1f1f1;
}

.ecom-nav .option-item svg {
    width: 22px;
    height: 22px;
    color: #ffffff;
}

.ecom-nav .navbar .others-option .option-item a span {
    position: absolute;
    right: -13px;
    top: -4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50px;
    min-width: 20px;
    height: 20px;
    padding: 0px 4px;
}

.user_dropdown button {
    font-size: 12px;
    color: #fff;
}

.search_option .form-control {
    border: none;
    border-radius: 50px !important;
    height: 40px;
    width: 500px;
    margin: auto;
    padding-right: 47px !important;
}

.search_option .input-group-text {
    width: 36px;
    background: #386800;
    height: 36px;
    border: none !important;
    color: #ffffff;
    position: absolute;
    top: 2px;
    right: 3px;
    padding: 0;
    border-radius: 50px !important;
    z-index: 5;
}

.section-title h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
    display: inline-block;
    color: var(--primary);
}

.produt_content h4 {
    font-size: 13px;
    font-weight: 600;
    white-space: pre;
    color: var(--primary);
}

.produt_content h4 del {
    color: #555;
    font-size: 13px;
    margin-left: 4px;
}

.product_card .product_img img {
    transform: scale(1);
    transition: transform .20s ease-out;
    /* out transition */
}

.product_card:hover .product_img img {
    transform: scale(1.1);
    transition: transform .20s ease-in;
    /* in transition */
}

.produt_content h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #555;
    display: block;
    font-size: 13px;
    font-weight: inherit;
    line-height: 20px;
    white-space: nowrap;
    width: 100%;
}

.produt_content .rating i {
    font-size: 10px;
}

.produt_content .rating span {
    font-size: 14px;
}

.product_shadow:hover {
    -webkit-animation: shodow .3s both;
    animation: shodow .3s both;
}

.product_shadow img {
    transform: scale(1) !important;
}

@keyframes shodow {
    0% {
        box-shadow: 0 0 0 rgba(0, 0, 0, .1);
    }

    to {
        box-shadow: 0 4px 24px 0 rgba(0, 0, 0, .1);
    }
}

.category_item .category {
    position: relative;
    padding: 0 22px;
    margin-right: 18px;
    height: 56px;
    font-size: 14px;
    color: #222;
    line-height: 18px;
    font-weight: 500;
    flex-direction: row;
    cursor: pointer;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category_item .category:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #949494;
    border-radius: 50px;
}

.category_item .category:hover:after {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
}

.categories_sec .swiper-button-next {
    width: 85px;
    background-color: transparent;
    background-image: linear-gradient(270deg, #fff 50%, hsla(0, 0%, 100%, 0));
    border: none;
    box-shadow: none;
    border-radius: 0;
    justify-content: flex-end;
    align-items: flex-start;
    cursor: pointer;
    z-index: 10;
    height: 100%;
    top: 18px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 5px;
}

.categories_sec .swiper-button-prev {
    width: 73px;
    background-color: transparent;
    background-image: linear-gradient(83deg, #fff 50%, hsla(0, 0%, 100%, 0));
    border: none;
    box-shadow: none;
    border-radius: 0;
    justify-content: flex-end;
    align-items: flex-start;
    cursor: pointer;
    z-index: 10;
    height: 100%;
    top: 18px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}

.categories_sec .swiper-button-next:after,
.categories_sec .swiper-button-prev:after {
    display: none;
}

.categories_sec .swiper-button-next i,
.categories_sec .swiper-button-prev i {
    width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .05);
    color: #000;
    font-size: 11px;
}

.categories_sec .swiper-button-prev {
    left: 0 !important;
    justify-content: start;
}

.load_more_btn {
    background: var(--primary);
    border: none;
    color: #fff;
    padding: 12px 45px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    transition: all .15s ease;
}

.load_more_btn:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.produt_content .cart {
    position: relative;
    z-index: 99;
}

.produt_content .cart button {
    border: 1px solid #111;
    width: 45px;
    height: 32px;
    background: transparent;
    border-radius: 50px;
}

/* footer */

.footer-area {
    background-color: #1e1e1e;
}

.footer-bottom-area {
    background-color: #1e1e1e;
}

.single-footer-widget h3 {
    margin-bottom: 25px;
    font-size: 14px;
    position: relative;
    padding-bottom: 5px;
    font-weight: 600;
    color: #fff;
}

.single-footer-widget .link-list li a:hover {
    color: var(--primary);
}

.single-footer-widget .link-list li a {
    font-size: 14px;
    display: inline-block;
    color: #cdcdcd;
    position: relative;
}

.single-footer-widget .footer-contact-info li a {
    color: #c2c2c2;
    font-size: 14px;
}

.single-footer-widget .footer-contact-info li span {
    color: #bdbdbd;
    font-weight: 600;
}

.single-footer-widget .link-list li {
    margin-bottom: 10px;
}

.single-footer-widget .footer-contact-info li {
    display: block;
    margin-bottom: 10px;
    color: var(--secondary);
}

.footer-bottom-area p {
    font-size: 14px;
    color: #ddd;
}

.footer-bottom-area {
    background-color: #1e1e1e;
    border-top: 1px solid #333;
    padding-top: 20px;
}

.social_media ul li {
    display: inline-flex;
}

.social_media ul li a {
    font-size: 16px;
    color: #fff;
    border: 1px solid #404040;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: all 0.3s ease;
    margin: 5px;
}

.social_media ul li a:hover {
    color: var(--primary);
    border-color: var(--primary);
}

#mainToolbar {
    position: fixed;
    right: 0;
    left: unset;
    bottom: 100px;
    width: 64px;
    background: #fff;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .1);
    border-radius: 10px 0 0 10px;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    z-index: 99;
}


.scrolltop {
    width: 50px;
    height: 50px;
    background: transparent;
    margin: 6px;
    display: flex;
    margin-right: 2px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 13px;
    font-weight: 400px;
    border-radius: 8px;
    color: #222;
    cursor: pointer;
    font-weight: 500;
    line-height: .17rem;
    text-align: center;
    font-size: 14px;
    gap: 4px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.scrolltop:hover {
    background: #f2f2f2;
}

/* shop details */

div#rateYo {
    margin-bottom: 12px;
    padding: 0 !important;
}

.product_details .swiper-button-next,
.product_details .swiper-button-prev {
    width: 42px;
    height: 42px;
    background: #fafafa;
    border: 1px solid #e8e8e8;
    padding: 0px;
    border-radius: 50px;
    opacity: 0;
    transition: all 0.3s ease;
}

.productGallery:hover .swiper-button-next,
.productGallery:hover .swiper-button-prev {
    opacity: 1;
}


.product_details .swiper-button-next:after,
.product_details .swiper-button-prev:after {
    font-size: 18px;
    color: var(--primary);
}

.product_details .swiper-button-next svg,
.product_details .swiper-button-prev svg {
    padding: 12px;
    color: #000000;
}

.product_details .productThumbs .swiper-slide {
    opacity: 0.5;
    cursor: pointer;
}

.product_details .productThumbs .swiper-slide-thumb-active {
    opacity: 1;
}


.products-details-desc {
    z-index: 1;
}

.products-details-desc h1 {
    font-size: 25px;
    font-weight: 700;
    color: var(--secondary)
}

.products-details-desc .pro_price {
    font-size: 16px;
}

.products-details-desc .pro_price del {
    color: var(--primary);
    margin-right: 5px;
}

.review-stars i {
    font-size: 10px;
    color: orange;
}

.products-details-desc .pro_price span {
    color: var(--secondary);
    font-weight: 600;
}

.products-details-desc .products-review {
    margin-bottom: 12px;
}

.products-details-desc .products-info li span {
    color: #828893;
}

.products-details-desc .products-info li a {
    color: var(--secondary);
}

.products-size-wrapper .form-check-label {
    border: 1px solid #e2e2e2;
    width: 100%;
    height: 36px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
}

.products-size-wrapper .form-check-input {
    padding: 0;
    margin: 0;
}

.products-size-wrapper .form-check-input:checked~.form-check-label {
    color: #fff;
    background: var(--primary);
    border-color: var(--primary);
}

.products-size-wrapper .size .form-check {
    display: inline-block;
    margin: 2px 2px;
    padding: 0;
}

.products-size-wrapper p {
    font-size: 15px;
}

.products-details-desc .products-add-to-cart .input-counter {
    width: 120px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    /* vertical center */
    justify-content: center;
    /* horizontal center */
    position: relative;
    background-color: #f9f9f9;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    overflow: hidden;
}

.products-details-desc .products-add-to-cart .input-counter span {
    position: absolute;
    top: 0;
    width: 40px;
    height: 100%;
    line-height: 50px;
    /* same as input height */
    text-align: center;
    cursor: pointer;
    color: var(--primary);
    background-color: #ffffff17;
}

.review-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.review-card h5 {
    font-size: 16px;
    font-weight: 600;
    color: #212121;
}

.review-card i {
    font-size: 11px;
}

.review-date {
    color: #6c757d;
    font-size: 0.85rem;
}

.review-card i {
    font-size: 11px;
}

.prd_review {
    margin: 0 !important;
    font-size: 14px;
}

.page-title-area {
    background-color: #f9f9f9;
    padding-top: 12px;
    padding-bottom: 12px;
}

.page-title-content ul li a {
    display: inline-block;
    color: var(--secondary);
    font-size: 15px;
}

.page-title-content ul li {
    display: inline-block;
    position: relative;
    color: var(--primary);
    font-weight: 600;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.page-title-content ul li a::before {
    width: 1px;
    height: 14px;
    content: "";
    position: absolute;
    right: -13px;
    top: 6.2px;
    background-color: #404040;
    transform: rotate(10deg);
}

.dropdown-menu {
    z-index: 9999;
    padding: 10px 0px;
    font-size: 14px;
}

.dropdown-item {
    background: transparent !important;
    color: #000 !important;
}

.dropdown-item:hover {
    color: var(--primary) !important;
}

.login_form {
    max-width: 28rem;
    margin: auto;
    border: 1px solid #EEE;
}

.login_form h2 {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: var(--bg-dark);
}


.shoppingModal .modal-content .modal-body {
    padding: 25px 15px;
}

.shoppingModal .modal-content {
    border-radius: 0;
    border: none;
}

.shoppingModal.modal.right.fade.show .modal-dialog {
    right: 0;
}

.shoppingModal.modal.right.fade .modal-dialog {
    right: -420px;
    transition: 0.3s linear, right 0.3s ease-out;
}

.shoppingModal.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    max-width: 250px;
    width: 100%;
    height: 100%;
    transform: translate3d(0%, 0, 0);
}

.shoppingModal .close {
    color: var(--secondary);
    transition: 0.2s;
    position: absolute;
    top: 11px;
    z-index: 1;
    background-color: transparent;
    border: none;
    right: 10px;
}

.shoppingModal .price {
    color: var(--primary);
    font-size: 14px;
}

.shoppingModal .form-control {
    font-size: 13px;
    padding: 6px 12px;
    max-width: 100px;
}

.shoppingModal .cart_item {
    height: 574px;
    overflow: hidden;
    flex: 1;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 2px;
    scrollbar-width: thin;
    scrollbar-color: #aaa transparent;
}

.mobile_nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mobile_nav a {
    width: 20%;
}

.mobile_nav span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary);
}

.mobile_nav .home {
    border: 1px solid #ddd;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    background: var(--primary);
    color: #fff !important;
    margin-top: -32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.mobile_nav .home span {
    color: #fff;
}

.pro_tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #0d6efd;
    padding: 2px 10px;
    border-radius: 50px;
    font-size: 13px;
    color: #fff;
    z-index: 2;
}

.pro_tag.discount {
    background: #FF5722;
}